@font-face {
  font-family: "ShadowIntoLight";
  src: url("../fonts/ShadowIntoLight-Regular.ttf") format("ttf"),
    url("../fonts/ShadowIntoLight-Regular.eot") format("eot"),
    url("../fonts/ShadowIntoLight-Regular.otf") format("otf"),
    url("../fonts/ShadowIntoLight-Regular.ttf") format("ttf"),
    url("../fonts/ShadowIntoLight-Regular.woff") format("woff"),
    url("../fonts/ShadowIntoLight-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis-Regular";
  src: url("../fonts/Dosis-Regular.eot") format("eot"),
    url("../fonts/Dosis-Regular.otf") format("otf"),
    url("../fonts/Dosis-Regular.ttf") format("ttf"),
    url("../fonts/Dosis-Regular.woff") format("woff"),
    url("../fonts/Dosis-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
